@font-face {
    font-family: 'hyperscrypt';
    src:    url('../assets/HyperScrypt-Stencil_web.eot');
    src:    url('../assets/HyperScrypt-Stencil_web.eot?#iefix') format('embedded-opentype'),
            url('../assets/HyperScrypt-Stencil_web.woff') format('woff'),
            url('../assets/HyperScrypt-Stencil_web.woff2') format('woff2'),
            url('../assets/HyperScrypt-Stencil_web.ttf') format('truetype'),
            url('../assets/HyperScrypt-Stencil_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'viafont';
    src: url('../assets/ABCViafont-Regular-Trial.woff');
    src: url('../assets/ABCViafont-Regular-Trial.woff2');
}
body{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
}

p{
    font-family: 'viafont';
    font-size: 15px;
    color: #F7F4F0;
    text-align: justify;
}

span{
    font-family: 'viafont';
    font-size: 15px;
    color: #DB4516;
    text-align: justify;
 
}

.column-one{
    width: 15%;
} 
.column-two{
    width: 50%;
}

.column-three {
    width: 20%;
}

.column-four{
    width: 10%;
}

.column-one, .column-two, .column-three, .column-four{
    overflow: scroll;

}